In [1]:
import credential;
import pandas as pd;

In [2]:
key = '''[default]
aws_access_key_id=ASIA3VASNWGFB5P4HUN2
aws_secret_access_key=eZhcUDHYT6LI3b4jsFLSMVhOuaTT7HyUpzEVzkJ5
aws_session_token=FwoGZXIvYXdzEDwaDLJ5AIyV0MizBFj4+SK7AdD1irnhbn1a0a9tuqJqQpunPBDnWR1mCUZQVKFwlYHpejUq5fiBmDCDEBGofvdlWHUpOcxTruoiNw4RfK9mi+IBkVf0V/QvIHPCKCOlGdPJt7AsmH4dhkFazuxJ1hfYBYn+aJt4ybp4t5KAdoKkq2dO4z19CfYyi2CAHpUs25bai4S8z7ovGi8Fnxuz2c3YBmGCf+TnomWwIBdNcEvVC6NiR1Og8l0PfhpG90aGcU7Tk9+9XqLWWii3+mUo6cmnlwYyLWEdNZak+vL0ftbBJ6J8kzEV8cDVFisIpIKG6PI0mWSnU/rJ5zQNL1SiCGgELg==''';

In [3]:
bucket = credential.getS3Bucket(key);

---
#### Business

In [4]:
business_obj = bucket.Object('yelp_academic_dataset_business.json');

In [5]:
business_df = credential.loadDataByJson(business_obj, lines=True);
business_df = business_df.dropna(subset=['categories']);

In [6]:
all_categories = set();
def identifyCategories(row):
    categories = row['categories'];
    if categories:
        all_categories.update([category.strip() for category in categories.split(',')]);

business_df.apply(identifyCategories, axis='columns');

In [7]:
restaurants_df = business_df[business_df['categories'].str.contains('Restaurants')];
hotels_df = business_df[business_df['categories'].str.contains('Hotels')];

In [8]:
# There isn't enough business in hotel domain.
restaurants_df.shape[0], hotels_df.shape[0]

(52268, 5857)

In [9]:
restaurants_cities = restaurants_df.groupby('city')['city'].count();
restaurants_cities.sort_values(ascending=False)

city
Philadelphia               5852
Tampa                      2960
Indianapolis               2862
Nashville                  2502
Tucson                     2466
                           ...
Corona de Tucson              1
North Redington Bch           1
North Coventry Township       1
Newtown Sqaure                1
wimauma                       1
Name: city, Length: 920, dtype: int64

In [10]:
# restaurants_philadelphia = restaurants_df[restaurants_df['city']== 'Philadelphia'];
restaurants = restaurants_df[restaurants_df['city'].isin(['Philadelphia'])];

In [11]:
# restaurants_id = restaurants_philadelphia['business_id'].unique();
restaurants_id = restaurants['business_id'].unique();

In [49]:
restaurants_samples = restaurants[restaurants['review_count'] > 300].sample(100);
# Get the id of sampled restaurants
restaurants_samples_id = restaurants_samples['business_id'];

---
#### Reviews

In [13]:
reviews_obj = bucket.Object('yelp_academic_dataset_review.json');

In [14]:
CHUNKSIZE = 500000;
reviews_df = credential.loadDataByJson(reviews_obj, lines=True, chunksize=CHUNKSIZE);

Reviews of sampled restaurants

In [15]:
reviews = [];

for review_df in reviews_df:
    reviews.append(review_df);

In [16]:
restaurants_reviews_df = pd.concat(reviews, sort=False);

---

In [50]:
restaurants_reviews = restaurants_reviews_df[restaurants_reviews_df['business_id'].isin(restaurants_samples_id)];

In [73]:
restaurants_reviews_100 = restaurants_reviews.groupby('business_id').sample(20);
restaurants_reviews_100.to_parquet('restaurants_reviews');

In [76]:
# How many restaturants that users have visited
user_unique_restaurants = restaurants_reviews.groupby(['user_id'])['business_id'].unique().apply(lambda x: len(x));

In [81]:
# Sample 50 users
users_id = user_unique_restaurants[user_unique_restaurants >= 20].sample(50).index.values;

In [82]:
users_reviews = restaurants_reviews[restaurants_reviews['user_id'].isin(users_id)];

In [88]:
users_reviews.to_parquet('users_reviews');