In [1]:
import credential;
import pandas as pd;

In [2]:
key = '''[default]
aws_access_key_id=ASIA3VASNWGFANCU3RCY
aws_secret_access_key=OJIvXseQgZjXAkHQqU0L+K0EoWcQ8isVeHpTtu/+
aws_session_token=FwoGZXIvYXdzEIL//////////wEaDBqFJf2bFoAANHyPMCK7AbhD10xT02+u9XT8BV1ngaIQ5urc0MBNxaW325AfFFVavLO9WH7sUfK4aSJgvHiWfo9hDd+TdKkHe+wncqkuVZl4w+JQ3OA9apAYw9N6UWDPfKzy1FAfVUXPMGTA8+/bHXKKurLqldHiXnBioUmZfyPRvbcN3v2mWmAbD0XbplK9lwIUtdxeYNpjWTcVmc2WZMV9ffgxeahVyf9OyfuWdS1mtmUY4xnGXC5Z43ruFKCyt/9yF7JuA0GfY3YooY3vlwYyLXY2wO2ENsOIv0K75/0RrCEzXEQhTJYMPBhlVU5J2WMSffS+AWjhps3eQ+NmdQ==''';

In [3]:
bucket = credential.getS3Bucket(key);

---
#### Business

In [8]:
business_obj = bucket.Object('yelp_academic_dataset_business.json');

In [9]:
business_df = credential.loadDataByJson(business_obj, lines=True);
business_df = business_df.dropna(subset=['categories']);

In [10]:
all_categories = set();
def identifyCategories(row):
    categories = row['categories'];
    if categories:
        all_categories.update([category.strip() for category in categories.split(',')]);

business_df.apply(identifyCategories, axis='columns');

In [11]:
restaurants_df = business_df[business_df['categories'].str.contains('Restaurants')];
hotels_df = business_df[business_df['categories'].str.contains('Hotels')];

In [8]:
# There isn't enough business in hotel domain.
restaurants_df.shape[0], hotels_df.shape[0]

(52268, 5857)

In [9]:
restaurants_cities = restaurants_df.groupby('city')['city'].count();
restaurants_cities.sort_values(ascending=False)

city
Philadelphia               5852
Tampa                      2960
Indianapolis               2862
Nashville                  2502
Tucson                     2466
                           ...
Corona de Tucson              1
North Redington Bch           1
North Coventry Township       1
Newtown Sqaure                1
wimauma                       1
Name: city, Length: 920, dtype: int64

In [12]:
# restaurants_philadelphia = restaurants_df[restaurants_df['city']== 'Philadelphia'];
restaurants = restaurants_df[restaurants_df['city'].isin(['Philadelphia'])];

In [13]:
# restaurants_id = restaurants_philadelphia['business_id'].unique();
restaurants_id = restaurants['business_id'].unique();

In [14]:
restaurants_samples = restaurants[restaurants['review_count'] > 500].sample(200);
# Get the id of sampled restaurants
restaurants_samples_id = restaurants_samples['business_id'];

---
#### Reviews

In [4]:
reviews_obj = bucket.Object('yelp_academic_dataset_review.json');

In [5]:
CHUNKSIZE = 500000;
reviews_df = credential.loadDataByJson(reviews_obj, lines=True, chunksize=CHUNKSIZE);

Reviews of sampled restaurants

In [6]:
reviews = [];

for review_df in reviews_df:
    reviews.append(review_df);

In [7]:
restaurants_reviews_df = pd.concat(reviews, sort=False);

---

In [15]:
restaurants_reviews = restaurants_reviews_df[restaurants_reviews_df['business_id'].isin(restaurants_samples_id)];

In [17]:
restaurants_reviews_200 = restaurants_reviews.groupby('business_id').sample(100);
restaurants_reviews_200.to_parquet('restaurants_reviews');

In [18]:
# How many restaturants that users have visited
user_unique_restaurants = restaurants_reviews.groupby(['user_id'])['business_id'].unique().apply(lambda x: len(x));

In [24]:
user_unique_restaurants[user_unique_restaurants >= 40]

user_id
-TLXQfY2lZ6DVWQj4BosxQ    73
0DB3Irpf_ETVXu_Ou9vPow    95
0MJ5sKX5uq7Ma5hbl4l3BQ    42
1msVg_B-Ef6K814sQDOTPA    41
27M0B4ENG7sI-Z2gCuqANA    44
                          ..
ygQxFoytqvt6W0E2NQPJow    50
ylE_w4QR7JCz9cr9ub9l3A    40
z9sL9d4kfAiQeGJ1dGmBng    60
z9uf9-0uX5Jh8-4Y5l2PQg    78
zu-e06_BM_TdkAZEKMrIww    49
Name: business_id, Length: 148, dtype: int64

In [25]:
# Sample 50 users
users_id = user_unique_restaurants[user_unique_restaurants >= 40].sample(100).index.values;

In [26]:
users_reviews = restaurants_reviews[restaurants_reviews['user_id'].isin(users_id)];

In [27]:
users_reviews.to_parquet('users_reviews');