In [1]:
import credential;
import pandas as pd;

In [2]:
key = '''[default]
aws_access_key_id=ASIA3VASNWGFH6Z4KNFZ
aws_secret_access_key=u2y3Fe6s0eR/qcND8tmSdJ5gqHP1hfvnDflN1TEE
aws_session_token=FwoGZXIvYXdzEHoaDDau06m71UqS2B9dRiK7AaekxScCxlr0CpmqzYcAfwRE5+dxcCCkHLgF8KcG+rn/f8SYmR6Wq19AXYg77rjMhCYtmwDBJZ8nMBd6RPHzU9qzrmyNaNQNjksjv9CGaLhCJBNlWRhg+ObJtnUlwTIfd7C5VRm7Z9uHvth6/yTuhvsM2Ig84O1Vo5Rtc8w/PW8g+aU6mf9IVWpH2MZw6ap8hdf20I2akBht9AuJrUul8DJzubq/KlM7aH6w5wYO4o4rLK5OLaW8tyxiim0o+9/dmAYyLWBaNBXywwxvClr9QNL6c18hUT0MF2sFkEe4rU6PN/p5AirkTPiXzm3cFUm46A==''';

In [3]:
bucket = credential.getS3Bucket(key);

---
#### Business

In [4]:
business_obj = bucket.Object('yelp_academic_dataset_business.json');

In [5]:
business_df = credential.loadDataByJson(business_obj, lines=True);
business_df = business_df.dropna(subset=['categories']);

In [6]:
all_categories = set();
def identifyCategories(row):
    categories = row['categories'];
    if categories:
        all_categories.update([category.strip() for category in categories.split(',')]);

business_df.apply(identifyCategories, axis='columns');

In [7]:
restaurants_df = business_df[business_df['categories'].str.contains('Restaurants')];
hotels_df = business_df[business_df['categories'].str.contains('Hotels')];

In [8]:
restaurants_df.shape[0], hotels_df.shape[0]

(52268, 5857)

There isn't enough business in hotel domain, so we choose restaurant.

In [9]:
print("How many city:", restaurants_df['city'].unique().size)
print("How many unique restaurant:", restaurants_df['business_id'].unique().size)

How many city: 920
How many unique restaurant: 52268

In [10]:
restaurants_cities = restaurants_df.groupby('city')['city'].count();
restaurants_cities.sort_values(ascending=False)

city
Philadelphia               5852
Tampa                      2960
Indianapolis               2862
Nashville                  2502
Tucson                     2466
                           ...
Corona de Tucson              1
North Redington Bch           1
North Coventry Township       1
Newtown Sqaure                1
wimauma                       1
Name: city, Length: 920, dtype: int64

In [11]:
# restaurants_philadelphia = restaurants_df[restaurants_df['city']== 'Philadelphia'];
restaurants = restaurants_df[restaurants_df['city'].isin(['Philadelphia'])];

In [12]:
# restaurants_id = restaurants_philadelphia['business_id'].unique();
restaurants_id = restaurants['business_id'].unique();

In [13]:
print(restaurants_id.size, "restaurants in the Philadelphia")

5852 restaurants in the Philadelphia

In [24]:
restaurants_samples = restaurants[restaurants['review_count'] > 300].sample(100);
# Get the id of sampled restaurants
restaurants_samples_id = restaurants_samples['business_id'];

---
#### Reviews

In [14]:
reviews_obj = bucket.Object('yelp_academic_dataset_review.json');

In [15]:
CHUNKSIZE = 500000;
reviews_df = credential.loadDataByJson(reviews_obj, lines=True, chunksize=CHUNKSIZE);

Reviews of sampled restaurants

In [16]:
reviews = [];

for review_df in reviews_df:
    reviews.append(review_df);

In [17]:
restaurants_reviews_df = pd.concat(reviews, sort=False);

Initial number of restaurants and reviews in restaurant domain

In [18]:
tmp_df = restaurants_reviews_df[restaurants_reviews_df['business_id'].isin(restaurants_df['business_id'].unique())]
print('How many restaurants in total:', tmp_df['business_id'].unique().size)
print('How many reviews in total:', tmp_df.shape[0])

How many restaurants in total: 52268
How many reviews in total: 4724471

Number of restaurants and reviews of restaurant in Philadelphia

In [20]:
tmp_df = restaurants_reviews_df[restaurants_reviews_df['business_id'].isin(restaurants_id)]
print('How many restaurants in Philadelphia:', tmp_df['business_id'].unique().size)
print('How many reviews in Philadelphia:', tmp_df.shape[0])
print('How many users in Philadelphia:', tmp_df['user_id'].unique().size)

How many restaurants in Philadelphia: 5852
How many reviews in Philadelphia: 687289
How many users in Philadelphia: 209513

---

Data from Philadelphia

In [26]:
restaurants_reviews = restaurants_reviews_df[restaurants_reviews_df['business_id'].isin(restaurants_samples_id)];

In [27]:
restaurants_reviews_200 = restaurants_reviews.groupby('business_id').sample(50);
restaurants_reviews_200.to_parquet('restaurants_reviews');

In [28]:
# How many restaturants that users have visited
user_unique_restaurants = restaurants_reviews.groupby(['user_id'])['business_id'].unique().apply(lambda x: len(x));

In [31]:
user_unique_restaurants[user_unique_restaurants >= 20]

user_id
--2tyArRmSoyKx5r-FVG0A    1
--4AjktZiHowEIBCMd4CZA    1
--4_p6Z3tKadJcr9Non_Vw    1
--B0My3yotQA2kLVWz6IYA    1
--Dz7-yZ5vMuDdlHxfBWVw    1
                         ..
zzeRWIiPtuJNRBUcxe0Upw    1
zzkAl8r4-N5KmYI0GysWmQ    1
zzvCl_egPyWpxO7EvWc2IA    1
zzwYLnmIvj8C7wJmRjtkRA    1
zzx7J3zheFF3zf5YYfDAMg    1
Name: business_id, Length: 42358, dtype: int64

In [25]:
# Sample 100 users
users_id = user_unique_restaurants[user_unique_restaurants >= 40].sample(100).index.values;

In [26]:
users_reviews = restaurants_reviews[restaurants_reviews['user_id'].isin(users_id)];

In [27]:
users_reviews.to_parquet('users_reviews');